.hint{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    flex-direction:column;
}

.words-shown-option-buttons{
    height:70px;
    width:200px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.word-container{
    height:25px;
    width:200px;
    border:2px solid black;
}

.word-container h6{
    position:relative;
    bottom:45px;
    font-size:20px;
}

#red-guessed{
    background-color:rgb(250,34,34);
}

#red-remaining{
    background-color:rgb(250,34,34);
}

#blue-guessed{
    background-color:rgb(34,34,250);
}

#blue-remaining{
    background-color:rgb(34,34,250);
}

#tan-guessed{
    background-color:tan;
}

#tan-remaining{
    background-color:tan;
}

#black{
    background-color:rgb(25,25,25);
}

.space{
    width:2px;
    height:60px;
}

button:disabled{
    background-color:rgb(230,255,230);
}